[auth]
	type = ldap

[plugin "kafka-events"]
    bootstrapServers = zk:9092


[database]
	type = h2

[index]
	type = LUCENE

[receive]
	enableSignedPush = false

[sendemail]
	smtpServer = smtp.intel.com

[sshd]
	listenAddress = *:29418

[httpd]
	listenUrl = http://*:8080/

[cache]
	directory = cache

[plugins]
	allowRemoteAdmin = true

[plugin "kafka-events"]
    bootstrapServers = kafka:9092

[lfs]
	plugin = lfs

[plugin "verify-status"]
  dbType = H2
